absl-py==0.9.0
astor==0.8.1
audioread==2.1.8
bandmat==0.7
cachetools==4.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
ConfigArgParse==1.0
cycler==0.10.0
Cython==0.29.14
decorator==4.4.1
fastdtw==0.3.4
gast==0.2.2
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
idna==2.8
imageio==2.8.0
joblib==0.14.1
kaldi-io==0.9.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-vis==0.4.1
kiwisolver==1.1.0
librosa==0.7.2
llvmlite==0.31.0
Markdown==3.1.1
matplotlib==2.2.2
networkx==2.4
nnmnkwii==0.0.19
numba==0.48.0
numpy==1.18.1
oauthlib==3.1.0
opt-einsum==3.1.0
pandas==0.22.0
-e git+https://github.com/jcvasquezc/phonet@d560ce29b740de81e5fe3c2d64ee84c232ff1762#egg=phonet
Pillow==7.0.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pyparsing==2.4.6
pysptk==0.1.7
python-dateutil==2.8.1
python-speech-features==0.6
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
SoundFile==0.10.3.post1
termcolor==1.1.0
tqdm==4.23.4
urllib3==1.26.5
Werkzeug==0.16.1
wrapt==1.11.2
